extends layouts/default.pug

block content
  div.container.my-4
    form(action='' method='post')
      div.row
        div.col-md-4
          input.form-control(type='password' name='password')
      div.row
        each picture in pictures
          div.col-md-4.mt-4
            div.card
              img.card-img-top(src=picture.url)
              div.card-body
                div.form-check
                  input.form-check-input(id=`approve-${picture._id}` type='checkbox' name='approved[]' value=picture._id)
                  label.form-check-label(for=`approve-${picture._id}`)
                    | Aprobar
                ul.list-group.list-group-flush
                  li.list-group-item
                    b Ubicación:
                    |  #{picture.location}
                  li.list-group-item
                    b Usuario:
                    |  #{picture.user.name}
                  li.list-group-item
                    b Enlace:
                    a(href=picture.user.link target='_blank' rel='noreferrer')
                      |  #{picture.user.link}
      div.row.mt-4
        div.col-12
          input.btn.btn-primary(type='submit' value='Enviar')
